# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.log
*.sqlite3
*.db
*.env
.env*
venv/
ENV/
env/
myenv/
.venv/
backend/build/
backend/dist/
backend/__pycache__/
backend/*.pyc

# Node
node_modules/
pm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
/dist/
/build/
/.pnp/
.pnp.js

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Frontend
frontend/dist/
frontend/dist-desktop/
frontend/sign.js
frontend/.turbo/
frontend/node_modules/
